/nbproject/private/
/nbproject/
.DS_Store?
*.old
*.old/*
*.new
*.new/*
old
old/*
*.1
*.1/*
sess_*
*.cache
*.swp
*.swo
*.sh
.htaccess
tmp
upgrade.php
.idea
.svn
.sass-cache
.sass-cache/*
sites/default/settings.php
sites/default/files/*
sites/default/files
